nav {
    align-items: 		center;
    background: 		var(--color_background_1);
    display: 			inline-flex;
    flex-direction: 	column;
    justify-content: 	center;
    width: 				var(--width-tabs);
    height:				var(--height-tabs);
}

nav.text_style_tabs {
    color:					var(--color_text_2);
    font-family: 			var(--font_family);
    font-size: 				var(--font_size_small);
    line-height: 			1.5;
    text-align:				center;
}

nav div.tab {
    margin:				32% 0;
    width: 				100%;
}

nav div.tab.active {
    background-color: color-mix(in srgb, var(--color_main_3) 18%, transparent);
}

nav div.tab div {
    background-color: 	var(--color_icon_2);
    width: 				32px;
    height:				32px;
    margin: 			auto;
}

#tab-editor-data {
    -webkit-mask: url(../images/frame-analytics.svg) no-repeat center;
    mask: url(../images/frame-analytics.svg) no-repeat center;
    mask-size: contain;
}

#tab-editor-dialog {
    -webkit-mask: url(../images/frame-chat.svg) no-repeat center;
    mask: url(../images/frame-chat.svg) no-repeat center;
    mask-size: contain;
}

#tab-editor-graph {
    -webkit-mask: url(../images/frame-domain-model.svg) no-repeat center;
    mask: url(../images/frame-domain-model.svg) no-repeat center;
    mask-size: contain;
}

#tab-editor-testing {
    -webkit-mask: url(../images/frame-testing.svg) no-repeat center;
    mask: url(../images/frame-testing.svg) no-repeat center;
    mask-size: contain;
}

#tab-editor-tree {
    -webkit-mask: url(../images/frame-scena.svg) no-repeat center;
    mask: url(../images/frame-scena.svg) no-repeat center;
    mask-size: contain;
}
