body {
    --color_main_text: #0D1821;
    --color_main_bg: #F0F4EF;
    --color_accent_1: #D6C153;
    --color_secondary_1: #D2E0A2;
    --color_accent_2: #344966;
    --color_secondary_2: #B4CDED;
    font-family: "Gill Sans", sans-serif;
    background-color: #F0F4EF;
    font-size: 1.6em;
}
main {
    padding-left: 3.3em;
    display: inline-block;
    vertical-align: top;
}
.logs {
    display: flex;
    gap: 1em;
}
.logs div {
    padding: 0.5em;
    border-radius: 1em;
}
.logs button {
    border: 0px;
    border-radius: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.logs__ok {
    background-color: #D2E0A2;
}
.logs__ok button {
    background-color: #a8b381;
}
.logs__ok button:hover{
    background-color: #949f6d;
    cursor: pointer;
}
.logs__err {
    background-color: #feeae9;
}
.logs__err button {
    background-color: #f7b9ba;
}
.logs__err button:hover {
    background-color: #e3a5a6;
    cursor: pointer;
}
.logs__nf {
    background-color: #e1ebf8;
}
.logs__nf button {
    background-color: #b4bcc6;
}
.logs__nf button:hover {
    background-color: #a0a8b2;
    cursor: pointer;
}
article {
    padding-top: 0.9em;
    padding-bottom: 1em;
}
.testing_button {
    background: #344966;
    color: #ffffff;
    border: 0px;
    padding: 0.8em 1em;
    border-radius: 0.4em;
    font-size: 1em;
}
.testing_button:hover {
    background: #B4CDED;
    cursor: pointer;
}
.manual_testing {
    margin-top: 1em;
}
.test_result {
    margin-top: 1em;
}
.answer {
    margin-top: 1em;
}
.section__p {
    background: #f5f5f5;
    padding: 1em;
    border-radius: 0.7em;
}
.frame-div {
    width    : 400px;
    height   : 420px;
    overflow : hidden;
    position : relative;
}
.iframe
{
    position : absolute;
    top      : -120px;
    width    : 400px;
    height   : 555px;
    border-width: 0px;
}
.testing_button_select {
    background: #344966;
    color: #ffffff;
    border: 0px;
    padding: 0.4em 1em;
    border-radius: 0.4em;
    font-size: 0.8em;
    vertical-align: bottom;
}
.testing-select {
    font-size: 1em;
    padding: 0.1em 1em;
}
.time-text {
    color: var(-color_main_text);
}
.time-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 1em;
}
.period__input {
    font-size: 0.9em;
}
.button {
    background: var(--color_accent_2);
    color: #ffffff;
    border: 0px;
    padding: 0.2em 1.5em;
    border-radius: 0.4em;
    font-size: 0.8em;
    vertical-align: bottom;
}