:root {
    /* Основные цвета */
    --main-color_1:				#0D1821;
    --main-color_2:				#F0F4EF;
    --main-color_3:				#D6C153;
    --main-color_4:				#D2E0A2;
    --main-color_5:				#344966;
    --main-color_6:				#B4CDED;

    /* Цвета стили */
    --main-color_background_1:	var(--main-color_1);	/* Темный  */
    --main-color_background_2:	var(--main-color_2);	/* Светлый */
    --main-color_background_3:	color-mix(in srgb, var(--main-color_background_1)  8%, transparent);	/* Панель */

    --main-color_text_1:		var(--main-color_1);	/* Темный  */
    --main-color_text_2:		var(--main-color_2);	/* Светлый */

    --main-color_icon_1:		var(--main-color_1);	/* Темный  */
    --main-color_icon_2:		var(--main-color_2);	/* Светлый */

    --main-color_button_1:		var(--main-color_5);	/* По умолчанию */
    --main-color_button_2:		var(--main-color_6);	/* При наводке */

    /* Отступ */
    --margin-w:			8px;
    --margin-h:			4px;

	/* Текст */
	--font_family:		Inter, sans-serif;
	--font_size_h1:		24px;
	--font_size_medium:	14px;
	--font_size_small:	10px;





    --color_bad_scene:      #D65353;
    --color_good_scene:     #D2E0A2;

    --width-testing-aside:  calc(100% - 8rem - 3.3em);
}

html {
	width:					100%;
	height:					100%;
	margin:					0;
}
body {
    display:				flex;
    flex-wrap:				wrap;
	width:					100%;
	height:					100%;
	margin:					0;
    padding:				0;
}
body .no_text_select {
	-webkit-user-select:	none;
	-moz-user-select:		none;
	-moz-user-select:		none;
	-ms-user-select:		none;
	user-select:			none;
}
body .shadow {
	-webkit-box-shadow:		3px 1px 5px 0px rgba(0,0,0,.75);
	-moz-box-shadow:		3px 1px 5px 0px rgba(0,0,0,.75);
	-o-box-shadow:			3px 1px 5px 0px rgba(0,0,0,.75);
	box-shadow:				3px 1px 5px 0px rgba(0,0,0,.75);
}

body {
    color:					var(--main-color_text_1);
	font-family:			var(--font_family);
    font-size:				var(--font_size_medium);
    line-height:			1.5;
    text-align: 			justify;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 			bold;
    margin-top:				0;
    margin-bottom:			0.2em;
    padding: 				0;
}
h1 {
    font-size:				var(--font_size_h1);
}
p {
    margin-bottom:			0.5em;
    padding: 				0;
}

div.button {
    display:				inline-block;
    padding:				5px 20px;
    border:					1px solid var(--main-color_button_1);
    background-color:		var(--main-color_button_1);
    color:					var(--main-color_text_2);
    font-size:				var(--font_size_medium);
    font-weight:			bold;
    border-radius:			5px;
    cursor:					pointer;
    transition:				all 0.25s ease;
}
div.button:hover {
    background-color:		color-mix(in srgb, var(--main-color_button_1) 70%, var(--main-color_button_2));
    border-color:			color-mix(in srgb, var(--main-color_button_1) 70%, var(--main-color_button_2));
}
