:root {
	/* Цвета */

	/* Функциональные цвета */

	/* Цвета стили */
    --chat-color_funct_1:	var(--main-color_3);
    --chat-color_funct_2:	var(--main-color_4);

	/* Размер */
	--chat-size_icon:		25px;

    --chat-width:			calc(100% - var(--tabs-width));
    --chat-height:			100%;
}

/*
* Основная панель чата :: chat
*/

chat {
    display:			flex;
    flex-direction:		column;

    background-color: 	var(--main-color_background_3);
    border-radius:		8px;
    box-sizing:			border-box;
    width: 				calc(var(--chat-width)  - 2 * var(--margin_m));
    height: 			calc(var(--chat-height) - 2 * var(--margin_l));
    margin:				var(--margin_l) var(--margin_m);
    padding:			var(--margin_l) var(--margin_m);
}

/*
* Основная панель чата :: chat :: section:nth-of-type(1)
*/

chat > section:nth-of-type(1) {
    display:			flex;
    align-items:		center;
    justify-content:	space-between;
    margin-bottom:		var(--margin_l);
    padding:			var(--margin_m);
    background-color:	color-mix(in srgb, var(--white) 40%, transparent);
    border-radius:		8px;
    border-bottom:		1px solid color-mix(in srgb, var(--main-color_1) 20%, transparent);
}

chat > section:first-of-type .buttons-container {
    display:			flex;
    align-items:		center;
}

chat > section:first-of-type .button {
    margin-left:		var(--margin_m);
}

/*
* Основная панель чата :: chat :: section:nth-of-type(2)
*/

chat > section:nth-of-type(2) {
    display:			flex;
    flex-direction:		column;
    flex:				1;
    border-radius:		8px;
    overflow:			hidden;
}

/*
* Основная панель чата :: chat :: section:nth-of-type(2) :: chat-field
*/

chat > section:nth-of-type(2) #chat-field {
    flex:				1;
    overflow-y:			auto;
    padding:			var(--margin_m);
    background-color:	var(--white);
    border-bottom:		1px solid color-mix(in srgb, var(--main-color_1) 20%, transparent);
}
/*
@media (max-height: 600px) {
    chat > section:nth-of-type(2) #chat-field {
	    height:	        60vh;
    }
}
*/

chat > section:nth-of-type(2) #chat-field .message-container {
    display:			flex;
    margin-bottom:		var(--margin_l);
}

chat > section:nth-of-type(2) #chat-field .answer, .question {
	padding:			var(--margin_m) var(--margin_h);
    border-radius:		4px;
    max-width:			80%;
}

chat > section:nth-of-type(2) #chat-field .answer {
    margin-right:		auto;
    background-color:	#f0f0f0;
    padding-left:		calc(2 * var(--margin_h));
}

chat > section:nth-of-type(2) #chat-field .question {
    margin-left:		auto;
    background-color:	#e0f7fa;
    border:				1px solid #007BFF;
    padding-right:		calc(2 * var(--margin_h));
}
/*
.answer {
    border:				1px solid var(--chat-color_funct_1);
    background-color:	color-mix(in srgb, var(--chat-color_funct_1) 80%, transparent);

}
.question {
    border:				1px solid var(--chat-color_funct_2);
    background-color:	color-mix(in srgb, var(--chat-color_funct_2) 80%, transparent);
}*/

/*
* Основная панель чата :: chat :: section:nth-of-type(2) :: chat-tools
*/

chat > section:nth-of-type(2) #chat-tools {
    display:			flex;
	align-items:		center;
    padding:			calc((var(--margin_h) + var(--margin_m)) / 2);
    background-color:	color-mix(in srgb, var(--white) 40%, transparent);
}

chat > section:nth-of-type(2) #chat-tools input[type="text"] {
    flex:				1;
    padding:			var(--margin_h);
    border:				1px solid color-mix(in srgb, var(--main-color_1) 16%, transparent);
    border-radius:		5px;
    margin-right:		var(--margin_m);
}

/*
* Основная панель чата :: chat :: section:nth-of-type(2) :: chat-tools - Иконки
*/

chat > section:nth-of-type(2) #chat-tools .icon {
	display:			flex;
	justify-content:	center;
	align-items:		center;
    width: 				calc(1.5 * var(--chat-size_icon));
    height:				calc(1.5 * var(--chat-size_icon));
    background-color: 	var(--main-color_icon_3);
    border-radius:		50%;
    margin-left:		calc((var(--margin_h) + var(--margin_m)) / 2);
    transition:			all 0.25s ease;
}

chat > section:nth-of-type(2) #chat-tools .icon:hover {
    background-color: 	var(--main-color_icon_4);
}

chat > section:nth-of-type(2) #chat-tools #voice-start > div, #voice-stop > div, #send > div {
    background-color: 	var(--main-color_icon_2);
    width: 				var(--chat-size_icon);
    height:				var(--chat-size_icon);
}

#voice-start > div {
    -webkit-mask: 		url(../images/frame-voice.svg) no-repeat center;
    mask: 				url(../images/frame-voice.svg) no-repeat center;
    mask-size: 			contain;
}
#voice-stop > div {
    -webkit-mask: 		url(../images/frame-voice-active.svg) no-repeat center;
    mask: 				url(../images/frame-voice-active.svg) no-repeat center;
    mask-size: 			contain;
}
#send > div {
    -webkit-mask: 		url(../images/frame-send.svg) no-repeat center;
    mask: 				url(../images/frame-send.svg) no-repeat center;
    mask-size: 			contain;
}

/*#voice-start, #voice-stop, #send {
    width: 40px;
    height: 40px;
    background-color: #007BFF;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}*/

/*#voice-start, #voice-stop, #send {
    width: 40px;
    height: 40px;
    background-color: #007BFF;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    mask-size: cover;
    mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
}*/

/*#voice-start, #voice-stop, #send {
    width: 40px;
    height: 40px;
    background-color: #007BFF;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    mask-size: cover;
    mask-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
}


*//* Adding specific styles for each button *//*
#voice-start {
    *//*background-image: url('../images/frame-voice.svg');*//*
    mask-image: url('../images/frame-voice.svg');
    -webkit-mask-image: url('../images/frame-voice.svg');
}

#voice-stop {
    *//*background-image: url('../images/frame-voice-active.svg');*//*
    mask-image: url('../images/frame-voice-active.svg');
    -webkit-mask-image: url('../images/frame-voice-active.svg');
}

#send {
    *//*background-image: url('../images/frame-send.svg');*//*
    mask-image: url('../images/frame-send.svg');
    -webkit-mask-image: url('../images/frame-send.svg');
}*/





/*

article #chat #chat-tools div {
    background-color: 	var(--main-color_icon_1);
    width: 				var(--chat-size_icon);
    height:				var(--chat-size_icon);
    margin:				var(--margin_l) var(--margin_m);
}
#voice-start {
    -webkit-mask: 		url(../images/frame-voice.svg) no-repeat center;
    mask: 				url(../images/frame-voice.svg) no-repeat center;
    mask-size: 			contain;
}
#voice-stop {
    -webkit-mask: 		url(../images/frame-voice-active.svg) no-repeat center;
    mask: 				url(../images/frame-voice-active.svg) no-repeat center;
    mask-size: 			contain;
}
#send {
    -webkit-mask: 		url(../images/frame-send.svg) no-repeat center;
    mask: 				url(../images/frame-send.svg) no-repeat center;
    mask-size: 			contain;
}*/
