body {
    --color_main_text: #0D1821;
    --color_main_bg: #F0F4EF;
    --color_accent_1: #D6C153;
    --color_secondary_1: #D2E0A2;
    --color_accent_2: #344966;
    --color_secondary_2: #B4CDED;
    font-family: "Gill Sans", sans-serif;
    background-color: #F0F4EF;
    font-size: 1em;
}
main {
    height: 100vh;
    width: var(--width-testing-aside);
    overflow: scroll;
    padding-left: 3.3em;
    display: inline-block;
    vertical-align: top;
    scrollbar-width: none;
}

/* logs */
.logs {
    display: flex;
    gap: 1em;
}
.logs_ok {
    background-color: #AAF5C5;
}
.logs_err {
    background-color: #F55040;
}
.logs_nf {
    background-color: #FFDD50;
}
.logs__div {
    padding: 0.5em;
    border-radius: 1em;
}
/* end */

/* logs__button */
.logs__button {
    border: 0px;
    cursor: pointer;
    border-radius: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgba(255, 255, 255, 0.3);
}
.logs__button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
/* end */

/* testing_button */
.testing_button {
    display:				inline-block;
    padding:				5px 20px;
    border:					1px solid var(--main-color_button_1);
    background-color:		var(--main-color_button_1);
    color:					var(--main-color_text_2);
    font-size:				var(--font_size_medium);
    font-weight:			bold;
    border-radius:			5px;
    cursor:					pointer;
    transition:				all 0.25s ease;
}
.testing_button:hover {
    background-color:		color-mix(in srgb, var(--main-color_button_1) 70%, var(--main-color_button_2));
    border-color:			color-mix(in srgb, var(--main-color_button_1) 70%, var(--main-color_button_2));
}
/* end */

.manual_testing {
    margin-top: 1em;
}
.test_result {
    margin-top: 1em;
}
.answer {
    margin-top: 1em;
}
.section__p {
    background: var(--main-color_4);
    padding: 1em;
    border-radius: 0.7em;
}

/* frame-div */
.frame-div {
    width    : 95%;
    height   : 770px;
    overflow : hidden;
    position : relative;

}
@media (min-width: 700px) {
    .frame-div {
        width    : 91%;
        height   : 752px;
    }
}
@media (min-width: 930px) {
    .frame-div {
        width    : 94%;
        height   : 760px;
    }
}
@media (min-width: 1200px) {
    .frame-div {
        width    : calc(590px + 1vw);
        height   : 550px;
    }
}
.frame-div__iframe {
    position    : absolute;
    top         : 0px;
    right       : 2vh;
    width       : calc(110% + 10vh);
    height      : 755px;
    border-width: 0px;
}
@media (min-width: 700px) {
    .frame-div__iframe {
        right       : 2vh;
        width       : calc(110% + 10vh);
        height      : 750px;
    }
}
@media (min-width: 750px) {
    .frame-div__iframe {
        right       : 2vh;
        width       : calc(110% + 10vh);
        height      : 750px;
    }
}
@media (min-width: 850px) {
    .frame-div__iframe {
        right       : 0vh;
        width       : calc(110% + 10vh);
        height      : 750px;
    }
}
@media (min-width: 930px) {
    .frame-div__iframe {
        right       : 25vh;
        width       : 94%;
        height      : 760px;
    }
}
@media (min-width: 950px) {
    .frame-div__iframe {
        right       : 26.5vh;
        width       : 94%;
        height      : 760px;
    }
}
@media (min-width: 1200px) {
    .frame-div__iframe {
        width    : 500px;
        height   : 600px;
        right    : 80px;
    }
}
@media (min-width: 1250px) {
    .frame-div__iframe {
        width    : 550px;
        height   : 600px;
        right    : 80px;
    }
}
/* end */

.testing-select {
    font-size: 1em;
    padding: 0.1em 1em;
}
.time-text {
    color: var(-color_main_text);
}

/* period-input */
.period-input {
    line-height: 1.5em;
    font-size: 1em;
}
/* end */

/* testing-nav */
.testing-nav {
    margin-left: -0.5em;
    margin-top: 1.3em;
    display: flex;
    width: 100%;
    flex-direction: column;
    background: none;
    justify-content: start;
    align-items: start;
}
@media (min-width: 650px) {
    .testing-nav {
        flex-direction: row;
    }
}
.testing-nav__item {
    padding: 0.5em 0.5em;
    font-size: 1em;
    border: none;
}
.testing-nav__item_selected {
    background: var(--main-color_6);
    border-radius: 0.4em;
}
/* end */

/* testing-section */
.testing-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (min-width: 1200px) {
    .testing-section {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .testing-section > * + * {
        margin-left: 2em;
    }
}
/* end */

/* testing-article */
.testing-article {
    padding-top: 0.9em;
    padding-bottom: 1em;
}
.testing-article__header {
    padding: 1em 0em;
    font-size: 1.1em;
}
.testing-article_print {
    width: 90%;
}
@media (min-width: 1200px) {
    .testing-article_print {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .testing-article_chat {
        margin-left: 5vh;
        width: 40%;
    }
}

/* end */

/* button */
.button {
    display:				inline-block;
    padding:				5px 20px;
    border:					1px solid var(--main-color_button_1);
    background-color:		var(--main-color_button_1);
    color:					var(--main-color_text_2);
    font-size:				var(--font_size_medium);
    font-weight:			bold;
    border-radius:			5px;
    cursor:					pointer;
    transition:				all 0.25s ease;
}
/* end */

/* testing-buttons */
.testing-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media (min-width: 1200px) {
    .testing-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.testing-buttons__button {
    margin-top: 1em;
}
/* end */

/* questions-textarea */
.questions-textarea {
    font-size: 0.9em;
}
/* end */

/* answer-area */
.answer-area {
    margin-bottom: 1em;
}
.answer-area img {
    margin-bottom: -0.25em;
}
.answer-area__button {
    border: none;
}
/* end */

/* tree-scene */
.tree-scene {
    padding: 0.5em;
    display: inline-block;
    border-radius: 0.4em;
}
/* end */

button {
    cursor: pointer;
}
