:root {
    /* Основные цвета */
    --color_main_1:	#0D1821;
    --color_main_2:	#F0F4EF;
    --color_main_3:	#D6C153;
    --color_main_4:	#D2E0A2;
    --color_main_5:	#344966;
    --color_main_6:	#B4CDED;


    --color_background_1:	var(--color_main_1);	/* Основной цвет Menu */
    --color_background_2:	var(--color_main_2);

    --color_text_1:			var(--color_main_1);	/* Основной цвет текста */
    --color_text_2:			var(--color_main_2);	/* Цвет текста в меню */

    --color_icon_1:			var(--color_main_1);	/* Основной цвет иконок */
    --color_icon_2:			var(--color_main_2);	/* Цвет иконок в меню */

    --color_button_1:		var(--color_main_5);
    --color_button_2:		var(--color_main_6);



	/* Размеры текста */
	--font_family:		Inter, sans-serif;

	--font_size_h1:		24px; /* 1.6em */
	--font_size_medium:	14px;
	--font_size_small:	10px;


    /* Размер */
    --width-tabs:			11.5rem;
    --height-tabs:			100%;

    --width-graph-article: 	400px;
    --height-graph-article: 100%;

    --width-graph-aside:	calc(100% - var(--width-tabs) - var(--width-graph-article));
    --height-graph-aside: 	100%;
    --width-testing-aside:  calc(100% - var(--width-tabs) - 3.3em);
}

html {
	width:					100%;
	height:					100%;
	margin:					0;
}
body {
    display: flex;
    flex-wrap: wrap;
	width:					100%;
	height:					100%;
	margin:					0;
}
body .no_text_select {
	-webkit-user-select:	none;
	-moz-user-select:		none;
	-moz-user-select:		none;
	-ms-user-select:		none;
	user-select:			none;
}
body .shadow {
	-webkit-box-shadow:		3px 1px 5px 0px rgba(0,0,0,.75);
	-moz-box-shadow:		3px 1px 5px 0px rgba(0,0,0,.75);
	-o-box-shadow:			3px 1px 5px 0px rgba(0,0,0,.75);
	box-shadow:				3px 1px 5px 0px rgba(0,0,0,.75);
}
