:root {
	/* Цвета */

	/* Функциональные цвета */

	/* Цвета стили */
    --chat-color_funct_1:			var(--main-color_3);
    --chat-color_funct_2:			var(--main-color_4);

	/* Размер */
	--chat-size_icon:				1.6em;

    --chat-width_article:			calc(100% - var(--tabs-width));
    --chat-height_article:			100%;

	/*
    --graph-color_funct_3:			#FFEF00;

    *//*

    --graph-color_background_2:		var(--main-color_5);													*//* Заголовок таблицы *//*
    --graph-color_background_3:		color-mix(in srgb, var(--main-color_1)  8%, transparent);				*//* Строки таблицы *//*
    --graph-color_background_4:		color-mix(in srgb, var(--main-color_1) 20%, var(--main-color_2));		*//* Кластер / Токен *//*
    --graph-color_background_5:		color-mix(in srgb, var(--main-color_1) 40%, transparent);				*//* Неизменный *//*

    --graph-color_select:			color-mix(in srgb, var(--main-color_2) 40%, var(--graph-color_funct_1));
    --graph-color_select_related:	color-mix(in srgb, var(--main-color_2) 80%, var(--graph-color_funct_1));
    --graph-color_parent:			color-mix(in srgb, var(--main-color_2) 40%, var(--graph-color_funct_2));
    --graph-color_child:			color-mix(in srgb, var(--main-color_2) 40%, var(--graph-color_funct_3));

	*//*
	--graph-size_icon:				24px;

    --graph-width_aside:			calc(100% - var(--tabs-width) - var(--graph-width_article));
    --graph-height_aside:			100%;*/

}

/*
* Основная панель чата :: article
*/

article {
    background-color: 	var(--main-color_background_3);
    border-radius:		8px;
    box-sizing:			border-box;
    width: 				calc(var(--chat-width_article)  - 2 * var(--margin-w));
    height: 			calc(var(--chat-height_article) - 2 * var(--margin-h));
    margin:				var(--margin-h) var(--margin-w);
    padding:			var(--margin-h) var(--margin-w);
}
article section > div {
    display: 			flex;
}

/*
* Основная панель чата :: article :: chat
*/

article #chat {
	/* ... */
}

/*
* Основная панель чата :: article :: chat :: chat-field
*/

article #chat #chat-field {
    display: 			block;
    border:				1px solid var(--main-color_1);
    background-color:	var(--main-color_background_2);
	width:				100%;
	height:				600px;
    margin:				var(--margin-h) 0;
    padding:			calc(2 * var(--margin-h)) calc(2 * var(--margin-w));
    box-sizing: 		border-box;
}


article #chat #chat-field .answer, .question {
	padding:			calc(var(--margin-h) / 1.5) calc(var(--margin-w) / 1.5) calc(1.5 * var(--margin-h));
    border-radius: 		4px;
	clear:				both;
}
article #chat #chat-field .answer {
    border:				1px solid var(--chat-color_funct_1);
    background-color:	color-mix(in srgb, var(--chat-color_funct_1) 80%, transparent);
    padding-left:		calc(2 * var(--margin-w));
    float:				left;

}
article #chat #chat-field .question {
    border:				1px solid var(--chat-color_funct_2);
    background-color:	color-mix(in srgb, var(--chat-color_funct_2) 80%, transparent);
    padding-right:		calc(2 * var(--margin-w));
    float:				right;
}

/*
* Основная панель чата :: article :: chat :: chat-tools
*/

#request {
	width: 100%;
}

/*
* Основная панель чата :: article :: chat :: chat-tools - Иконки
*/

article #chat #chat-tools div {
    background-color: 	var(--main-color_icon_1);
    width: 				var(--chat-size_icon);
    height:				var(--chat-size_icon);
    margin:				var(--margin-h) var(--margin-w);
}
#voice-start {
    -webkit-mask: 		url(../images/frame-voice.svg) no-repeat center;
    mask: 				url(../images/frame-voice.svg) no-repeat center;
    mask-size: 			contain;
}
#voice-stop {
    -webkit-mask: 		url(../images/frame-voice-active.svg) no-repeat center;
    mask: 				url(../images/frame-voice-active.svg) no-repeat center;
    mask-size: 			contain;
}
#send {
    -webkit-mask: 		url(../images/frame-send.svg) no-repeat center;
    mask: 				url(../images/frame-send.svg) no-repeat center;
    mask-size: 			contain;
}
