:root {
    /* Основные цвета */
    --main_color_1:			#F0F4EF; /* + */
    --main_color_2:			#0D1821; /* + */
    --main_color_3:			#D6C153; /* + */
    --main_color_4:			#D2E0A2; /* + */
    --main_color_5:			#344966; /* + */
    --main_color_6:			#B4CDED; /* + */

    /* Тень */
    --offset-x:				3px;
    --offset-y:				1px;
    --blur-radius:			5px;
    --spread-radius:		0px;

    /* Размер */
    --width-tabs:			80px;
    --height-tabs:			100%;

    --width-graph-article: 	400px; // calc(100% - var(--width-tabs));
    --height-graph-article: 100%;
}

html {
	width:					100%;
	height:					100%;
	margin:					0;
}
body {
    display: flex;
    flex-wrap: wrap;
	width:					100%;
	height:					100%;
	margin:					0;
}
body .no_text_select {
	-webkit-user-select:	none;
	-moz-user-select:		none;
	-moz-user-select:		none;
	-ms-user-select:		none;
	user-select:			none;
}
body .shadow {
	-webkit-box-shadow:		var(--offset-x) var(--offset-y) var(--blur-radius) var(--spread-radius) rgba(0,0,0,.75);
	-moz-box-shadow:		var(--offset-x) var(--offset-y) var(--blur-radius) var(--spread-radius) rgba(0,0,0,.75);
	-o-box-shadow:			var(--offset-x) var(--offset-y) var(--blur-radius) var(--spread-radius) rgba(0,0,0,.75);
	box-shadow:				var(--offset-x) var(--offset-y) var(--blur-radius) var(--spread-radius) rgba(0,0,0,.75);
}
