:root {
    --tree-width_aside:			calc(100% - var(--tabs-width));
    --tree-height_aside:		100%;
}

main {
    width: var(--tree-width_aside);
    height: var(--tree-height_aside);
}


textarea {
  resize: none;
}

.tree_print {
    display: flex;
    /* min-width: 400px; */
    flex-basis: 50%;
    border: 1px solid black;
}

.scene_print {
    border: 1px solid black;
}

.scene_options {
    display: flex;
    border: 1px solid black;
    flex-basis: 50%;
    flex-wrap: wrap;
}

.super_flex {
    display: flex;
    flex-wrap: nowrap;
}

p.user_text {
    style = "color: blue";
}

p.answer_text {
    style = "color: green";
}

.chat {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}

ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

ul, #treeUL {
  list-style-type: none;
}

#treeUL {
  margin: 0;
  padding: 0;
}

.caret {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
    min-height: 30px;
    display: inline-block;
    user-select: none;
    background-color: #344966;
    color: white;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

.tree_block {
    border: 1px solid black;
}

.scene_adder {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
}

.empty_caret {
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    background-color: #344966;
    color: white;
    user-select: none; /* Prevent text selection */
}

.textarea_container {
    display: flex;
    align-items: center;
}
