:root {
    /* Основные цвета */
    --main_color_1:			#e30800; /* + */
    --main_color_2:			#eb4131; /* + */
    --main_color_3:			#eaea73; /* + */
    --main_color_4:			#f3f1db; /* + */
    --main_color_5:			#f2f0ec; /* + */
    /* Темные цвета */
    --dark_color_1:			#060606; /* + */
    --dark_color_2:			#262a32; /* + */
    --dark_color_3:			#5a5e6d; /* + */
    --dark_color_4:			#989ab3; /* + */
    --dark_color_5:			#f8f8f8; /* + */
    /* Дополнительные цвета */
    --additional_color_1:	#806db5;
    --additional_color_2:	#d36ea2;
    --additional_color_3:	#f6aea2;
    --additional_color_4:	#f8ecbf;
    --additional_color_5:	#f8efe7;

    /* Тень */
    --offset-x:				3px;
    --offset-y:				1px;
    --blur-radius:			5px;
    --spread-radius:		0px;
}

body {
	width:					100%;
	margin:					0;
}
body .no_text_select {
	-webkit-user-select:	none;
	-moz-user-select:		none;
	-moz-user-select:		none;
	-ms-user-select:		none;
	user-select:			none;
}
body .shadow {
	-webkit-box-shadow:		var(--offset-x) var(--offset-y) var(--blur-radius) var(--spread-radius) rgba(0,0,0,.75);
	-moz-box-shadow:		var(--offset-x) var(--offset-y) var(--blur-radius) var(--spread-radius) rgba(0,0,0,.75);
	-o-box-shadow:			var(--offset-x) var(--offset-y) var(--blur-radius) var(--spread-radius) rgba(0,0,0,.75);
	box-shadow:				var(--offset-x) var(--offset-y) var(--blur-radius) var(--spread-radius) rgba(0,0,0,.75);
}

.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	margin-top: 0;
}
.container .tabs {
	width:					16%;
    border-right:			1px solid #ccc;
	padding-right:			20px;
	box-sizing:				border-box;
    background:				var(--dark_color_4);
}
.container .content {
	width:					84%;
	padding-left:			20px;
	box-sizing:				border-box;
    background:				var(--dark_color_3);
}