<!-- block-tabs -->

<nav class="no_text_select text_style_tabs">
    <div data-href="{{url_for('editor_tree')}}"
         onclick="window.location.href = this.getAttribute('data-href');"
         class="tab {% if current_page == 'editor_tree' %}active{% endif %}"
    >
        <div id="tab-editor-tree"></div>
        <p>Сценарий</p>
    </div>
    <div data-href="{{url_for('editor_graph')}}"
         onclick="window.location.href = this.getAttribute('data-href');"
         class="tab {% if current_page == 'editor_graph' %}active{% endif %}"
    >
        <div id="tab-editor-graph"></div>
        <p>Модель ПО</p>
    </div>
    <div data-href="{{url_for('editor_testing')}}"
         onclick="window.location.href = this.getAttribute('data-href');"
         class="tab {% if current_page == 'editor_testing' %}active{% endif %}"
    >
        <div id="tab-editor-testing"></div>
        <p>Тестирование</p>
    </div>
    <div data-href="{{url_for('editor_data')}}"
         onclick="window.location.href = this.getAttribute('data-href');"
         class="tab {% if current_page == 'editor_data' %}active{% endif %}"
    >
        <div id="tab-editor-data"></div>
        <p>Аналитика</p>
    </div>
    <div data-href="{{url_for('editor_chat')}}"
         onclick="window.location.href = this.getAttribute('data-href');"
         class="tab {% if current_page == 'editor_chat' %}active{% endif %}"
    >
        <div id="tab-editor-chat"></div>
        <p>Чат</p>
    </div>
</nav>
