<!-- block-tabs -->

<nav class="no_text_select text_style_tabs">
    <div data-href="{{url_for('editor_tree')}}"
         onclick="window.location.href = this.getAttribute('data-href');"
         class="tab-elem {% if current_page == 'editor_tree' %}active{% endif %}"
    >
        <div class="tab tab-editor-tree"></div>
        <p class="tab">Сценарий</p>
    </div>
    <div data-href="{{url_for('editor_graph')}}"
         onclick="window.location.href = this.getAttribute('data-href');"
         class="tab-elem {% if current_page == 'editor_graph' %}active{% endif %}"
    >
        <div class="tab tab-editor-graph"></div>
        <p class="tab">Модель ПО</p>
    </div>
    <div data-href="{{url_for('editor_testing')}}"
         onclick="window.location.href = this.getAttribute('data-href');"
         class="tab-elem {% if current_page == 'editor_testing' %}active{% endif %}"
    >
        <div class="tab tab-editor-testing"></div>
        <p class="tab">Тестирование</p>
    </div>
    <div data-href="{{url_for('editor_data')}}"
         onclick="window.location.href = this.getAttribute('data-href');"
         class="tab-elem {% if current_page == 'editor_data' %}active{% endif %}"
    >
        <div class="tab tab-editor-data"></div>
        <p class="tab">Аналитика</p>
    </div>
    <div data-href="{{url_for('editor_dialog')}}"
         onclick="window.location.href = this.getAttribute('data-href');"
         class="tab-elem {% if current_page == 'editor_dialog' %}active{% endif %}"
    >
        <div class="tab tab-editor-dialog"></div>
        <p class="tab">Чат</p>
    </div>
</nav>
