<!-- block-tabs -->

<nav>
    <ul>
        <li><a href="{{url_for('editor_tree')}}">Дерево</a></li>
        <li><a href="{{url_for('editor_graph')}}">Граф</a></li>
        <li><a href="{{url_for('editor_data')}}">Статистика</a></li>
        <li><a href="{{url_for('editor_testing')}}">Тестирование</a></li>
        <li><a href="{{url_for('editor_dialog')}}">Диалог</a></li>
    </ul>
</nav>

<!--{% for tab in tabs %}-->
<!--    <div-->
<!--            class="tab {% if tab.id == 1 %}active-tab{% endif %}"-->
<!--            id="tab-{{ tab.id }}"-->
<!--            onclick="showContent({{ tab.id }})"-->
<!--    >-->
<!--        <img class="shadow" src="static/images/{{ tab.image }}">-->
<!--        <div class="caption-overlay">-->
<!--            <p>{{ tab.name }}</p>-->
<!--        </div>-->
<!--    </div>-->
<!--{% endfor %}-->
<!--    -->
<!--<script>-->
<!--    function showContent(id) {-->
<!--        var tabs = document.querySelectorAll('.tab');-->
<!--        var contents = document.querySelectorAll('.content > div');-->
<!--        tabs.forEach(function(tab) {-->
<!--            tab.classList.remove('active-tab');-->
<!--        });-->
<!--        contents.forEach(function(content) {-->
<!--            content.style.display = 'none';-->
<!--        });-->
<!--        document.getElementById('tab-' + id).classList.add('active-tab');-->
<!--        document.getElementById('content-' + id).style.display = 'block';-->
<!--    }-->
<!--</script>-->