<!DOCTYPE html>
<html>
<head>
    <title>Система управления навыками голосового помощника</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="static/css/style-main.css">
    <link rel="stylesheet" href="static/css/style-tabs.css">

    <link rel="stylesheet" href="static/css/style-graph.css">
</head>

<body>
    <!-- Меню -->
    {% include "__block_tabs.html" %}

    <!-- Основная панель управления -->
    <article>
        <section class="no_text_select">
            <div>
                <h1>Справочник</h1>
                <div id="update-directory" onclick="event_update_directory();"></div>
            </div>
            <div class="button">
                <label for="upload-document">Загрузить документ</label>
                <input type="file" id="upload-document" name="upload-document" onchange="event_upload_document();" style="display: none;">
            </div>
        </section>
        <section class="no_text_select">
            <ul class="file-list" id="document-list"></ul>
            <div class="button" onclick="event_visible_graph();">Обновить граф</div>
        </section>
    </article>

    <!-- Основная панель содержимого -->
    <aside>
        <section id="graph-visible" class="no_text_select">
            <iframe style="width: 100%; height: 100%; border: none;">
                Не поддерживаются плавающие фреймы.
            </iframe>
        </section>
        <section id="process-data" class="no_text_select">
            <div>
                <div class="button" onclick="event_load_data();">Загрузить данные</div>
                <div class="button" onclick="event_cancel();">Отмена</div>
            </div>
            <div>
                <div id="content-container"></div>
                <div id="cluster-container"></div>
            </div>
        </section>
    </aside>

    <script src="/static/script/script_main.js"></script>
    <script src="/static/script/script_graph.js"></script>
    <script>
        event_update_directory();
        event_visible_graph();

        swap_display('graph-visible');
    </script>
</body>
</html>



