<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/CSS/tree_style.css">
    <meta charset="UTF-8">
    <title>Система управления навыками голосового помощника</title>
</head>
<body>
    {% include '__block_tabs.html' %}
    <p>Страница для диалога</p>
    <div class = "chat">
        <p style="color: skyblue"> {{ question_text }} </p>
        <p style="color: green"> {{ answer }}</p>
    </div>
    <form method="get">
        <input type="hidden" name = write_question value="1">
        <input type="hidden" name = prev_scene value= {{scene_name}}>
        <input type="text" id="quest" name = question>
        <input type="submit" value="Задать вопрос">

    </form>
    <button onclick="voice_button()">Голос</button>
    <script>
        function voice_button() {
            questElem = document.getElementById('quest');

            fetch('/chat/voice')
            .then(response => response.json())
            .then(data => {
                questElem.value = data.message;
            })
            .catch(error => console.error('Ошибка:', error));
        }

    </script>
    <form method="get">
        <input type="hidden" name = end_dialog value="1">
        <input type="submit" value="Закончить диалог">

    </form>
    {% if end_dialog != None %}
        <form method="get">
        <input type="hidden" name = rate_dialog value="1">
        <input type="submit" value="Всё понравилось">
        </form>
        <form method="get">
        <input type="hidden" name = rate_dialog value="2">
        <input type="submit" value="Неудовлетворительно">
        </form>
    {% endif %}

    <p>{{ scene_name }}</p>

</body>
</html>