<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/CSS/style.css">
    <meta charset="UTF-8">
    <title>Статистика</title>
    {% macro render_menu() %}
    {% include "__block_tabs.html" %}
    {% endmacro %}
    {% macro render_errs() %}
    <div>
        {% for item in errs_per_scene %}
        <div>
            {{ item }}: {{ int(errs_per_scene[item]) }}
        </div>
        {% endfor %}
    </div>
    {% endmacro %}
    {% macro render_intents() %}
    {% for i in range(len(intents)) %}
    <section>
        <p class="section__p">{{ intents[i] }}</p>
    </section>
    {% endfor %}
    {% endmacro %}
    {% macro render_log_block(state_name, amount, state) %}
    <div class="logs__{{ state }}">
        <strong>{{ state_name }}</strong><br><br>
        {{ amount }}/{{ all_amount }} диалога<br><br>
        <button value="open_{{ state }}" name="open_{{ state }}">Посмотреть логи</button>
    </div>
    {% endmacro %}
</head>
<body>
    {{ render_menu() }}
    <main>
        <article>
            <form action="{{ url_for('editor_data') }}">
                <h4>Статистика работы</h4>
                <section class="logs">
                    {{ render_log_block("Успех", success_amount, "ok") }}
                    {{ render_log_block("Ошибка", error_amount, "err") }}
                    {{ render_log_block("Провал", not_found_amount, "nf") }}
                </section>
            </form>
        </article>
        <article>
            <h4>Ошибки по сценам</h4>
            {{ render_errs() }}
        </article>
        <article>
            <h4>Среднее время работы</h4>
            {{ time }} сек.
        </article>
        <article>
            <h4>Возможный состав вопросов</h4>
            {{ render_intents() }}
        </article>
    </main>
</body>
</html>