<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <link rel="stylesheet" href="static/css/style-main.css">
    <link rel="stylesheet" href="static/css/style-tabs.css">
    <link rel="stylesheet" href="/static/CSS/style.css">
    {% macro render_menu() %}
    {% include "__block_tabs.html" %}
    {% endmacro %}

    {% macro render_log_block(state_name, amount, state) %}
    <div class="logs__div logs_{{ state }} shadow">
        {{ state_name }}<br><br>
        {{ amount }}/{{ all_amount }} диалогов<br><br>
        <button class="logs__button" value="open_{{ state }}" name="open_{{ state }}">Посмотреть логи</button>
    </div>
    {% endmacro %}
</head>
<body>
    {{ render_menu() }}
    <main>
        <form action="{{ url_for('editor_data') }}">
            <article class="testing-article">
                <h4 class="testing-article__header">Аналитика</h4>
            </article>
            <article class="testing-article">
                <div class="testing-article__header">Период</div>
                <section>
                    от: <input name="start_date" type="date" class="period-input" value="{{ start_date }}">&nbsp;&nbsp;
                    до: <input name="end_date" type="date" class="period-input" value="{{ end_date }}">&nbsp;&nbsp;
                    <input type="submit" name="show" value="Показать" class="button shadow">
                </section>
            </article>
            <article class="testing-article">
                <div class="testing-article__header">Среднее время ответа</div>
                <figure>
                    <svg width="125" height="125">
                        <circle class="shadow" cx="62" cy="62" r="57" stroke="#D6C153" stroke-width="10" fill="#F0F4EF"/>
                        <text x="47" y="70" class="time-text">{{ time }}</text>
                    </svg>
                </figure>
            </article>
            <article class="testing-article">
                <div class="testing-article__header">Ошибки по сценам</div>
                <div>
                {% for scene in all_scenes %}
                    {% for i in range(scene["height"]) %}
                    &nbsp;&nbsp;&nbsp;
                    {% endfor %}
                    <p class="tree-scene shadow" style="background-color: {{ errs_per_scene[scene['name']]['color'] }}"> {{ scene["name"] }}:
                        {{ errs_per_scene[scene['name']]['err'] }}
                        / {{ errs_per_scene[scene['name']]['ok'] }}
                        / {{ errs_per_scene[scene['name']]['nf'] }}
                    </p><br>
                {% endfor %}
                </div>
            </article>
            <article class="testing-article">
                <div class="testing-article__header">Логи</div>
                <section class="logs">
                    {{ render_log_block("Успех", success_amount, "ok") }}
                    {{ render_log_block("Ошибка", error_amount, "err") }}
                    {{ render_log_block("Провал", not_found_amount, "nf") }}
                </section>
            </article>
        </form>
    </main>
</body>
</html>