<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/CSS/tree_style.css">
    <meta charset="UTF-8">
    <title>Система управления навыками голосового помощника</title>
</head>
<body>
    {% include '__block_tabs.html' %}
    <p>Страница для дерева</p>
    <div class = "super_flex">
    <div class = "tree_print">
    {% for scene in text_scenes %}
        <p> {{scene}} </p>
    {% endfor %}
    </div>
    <div class = "scene_print">
    <p> {{ all_scenes }} </p>
    <p> Сейчас в сцене - {{ scene_name }} </p>
    <p> Порядок: потомки, переходы, ответ, вопросы </p>
    {% for stat in scene_stats %}
        <p> {{stat}} </p>
    {% endfor %}
    </div>
    <div class = "scene_options">
    <form method="get">
        <input type="hidden" name = go_to_scene value="1">
        <input type="text" name = scene_name value="Имя сцены">
        <input type="submit" value="Перейти в сцену">
    </form>
    <br>
    <form method="get">
        <input type="hidden" name = add_child_scene value="1">
        <input type="text" name = child_scene_name> Имя сцены
        <input type="submit" value="Добавить потомка">
    </form>
    {% if child_scene_name != None %}
        <p> Успешно добавлена в потомки сцены {{ scene_name }} сцена {{ child_scene_name }}</p>
    {% endif %}


    <form method="get">
        <p> Добавление сцены</p>
        <input type="hidden" name = add_scene value="1">
        <br><input type="text" name = scene_name> Имя сцены
        <br><input type="text" name = parent_scene_name> Имя родительской сцены
        <br><input type="text" name = pass_conditions> Условия перехода
        <br><textarea name = answer rows="4" cols="50"> </textarea> Шаблон ответа
        <br><textarea name = questions rows="4" cols="50"> </textarea> Шаблоны вопросов
        <br><input type="text" name = clarifying_question> Уточняющий вопрос
        <br><input type="submit" value="Добавить сцену">
    </form>
    <form method="get">
        <p> Удаление сцены (и ее потомков)!!!</p>
        <input type="hidden" name = delete_scene value="1">
        <br><input type="submit" value="Удалить сцену">
    </form>
    </div>
    </div>
    <form method="get">
        <input type="hidden" name = save_tree value="1">
        <br><input type="submit" value="Сохранить дерево">
    </form>

</body>
</html>